:root{
    --end: 0px;
    --start: 0px; 
    --start-left: 0px; 
    --end-left: 0px;
}

@keyframes fall {
    from {
        transform: translateY(var(--start));
    }

  to {
        transform: translateY(var(--end));
    }
}

